<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Pembayaran Pendaftar</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <div class="row clearfix" sec:authorize="hasAnyAuthority('VIEW_MASTER','VIEW_FINANCE')">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h3>
                                    Rekap Pembayaran
                                </h3>
                            </div>
                        </div>
                        <!--Table-->
                        <div class="row">
                            <form th:action="@{/pembayaran/csv}" method="get">
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label>Jenis Biaya: </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <select name="jenis" class="form-control">
                                                    <option th:each="jenis : ${listJenisTagihan}"
                                                            th:value="${jenis.id}" th:text="${jenis.nama}">Jenis Tagihan</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label>Mulai Tanggal : </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input id="mulai" type="date"
                                                       name="mulai"
                                                       placeholder="yyyy-MM-dd"
                                                       class="form-control"
                                                       th:value="${awalBulan}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label>Sampai Tanggal : </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input id="sampai" type="date"
                                                       name="sampai"
                                                       placeholder="yyyy-MM-dd"
                                                       class="form-control"
                                                       th:value="${akhirBulan}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">

                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-5">
                                        <div class="form-group">
                                            <input class="btn btn-lg bg-green waves-effect" type="submit" value="Download CSV">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--//table//-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h3>
                                    Data Pembayaran Pendaftar
                                </h3>
                            </div>
                        </div>
                        <!--Table-->
                        <div class="body">
                            <form method="get">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Jenis Biaya</label>
                                                <select name="jenisBiaya" class="form-control">
                                                    <option selected th:if="${jenisBiaya} != null" th:each="data: ${jenisBiaya}"
                                                            th:value="${data.id}" th:text="${data.nama}">Akuntasi
                                                        Islam</option>
                                                    <option value=""></option>
                                                    <option th:each="jenis : ${listJenisTagihan}"
                                                            th:text="${jenis.nama}" th:value="${jenis.id}">Bisnis
                                                        Manajemen Syariah</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Nama Pendaftar</label>
                                                <input type="text" name="pendaftar"
                                                       class="form-control" th:value="${pendaftar}"
                                                       placeholder="Nama Pendaftar"   autofocus/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                                <label></label><br>
                                                <input type="submit" value="Cari" class="btn  bg-blue-grey waves-effect">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            Show <span sd:page-size-selector="javascript"></span> entries

                            <hr>


                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>No Registrasi</th>
                                            <th>Nama</th>
                                            <th>Jenis Biaya</th>
                                            <th>Bank</th>
                                            <th>Nilai Transfer</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p,row : ${daftarPembayaran}">
                                            <td th:text="${(row.index + 1) + (daftarPembayaran.number * daftarPembayaran.size)}">#</td>
                                            <td th:text="${p. tagihan.pendaftar.nomorRegistrasi}">201801002</td>
                                            <td th:text="${p. tagihan.pendaftar.nama}">haffizh</td>
                                            <td th:text="${p. tagihan.jenisBiaya.nama }">10-08-2017</td>
                                            <td th:text="${p. bank.namaBank }">10-08-2017</td>
                                            <td th:text="${p. nilai }">10-08-2017</td>
                                            <td>
                                                <span th:if="${p.tagihan.jenisBiaya.id == '001'}">
                                                    <a th:href="@{/registrasi/reset/form(pendaftar = ${p. tagihan.pendaftar.id})}" class="btn bg-blue waves-effec">Reset Password</a>
                                                </span>
                                            </td>
                                            <td>
                                                <span th:if="${p.tagihan.jenisBiaya.id == '002'}">
                                                    <a th:href="@{/registrasi/nim/form(id = ${p. tagihan.pendaftar.id})}" class="btn bg-blue waves-effec">Cek Data</a>
                                                </span>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div sd:pagination-summary="">info</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <nav class="pull-right">
                                        <ul class="pagination" sd:pagination="full">
                                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!--//table//-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>