<script type="text/javascript">
    function checkAll(theForm, cName, allNo_stat) {
        var n = theForm.elements.length;
        for (var i = 0; i < n; i++) {
            if (theForm.elements[i].className.indexOf(cName) != -1) {
                if (allNo_stat.checked) {
                    theForm.elements[i].checked = true;
                } else {
                    theForm.elements[i].checked = false;
                }
            }
        }


        $(".results1").click(function () {

            if ($(".results1").length == $(".reseult1:checked").length) {
                $("#selectAll").attr("checked", "checked");
            } else {
                $("#selectAll").removeAttr("checked");
            }

        });
    }
</script>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>

    <meta charset="UTF-8">
    <title>Form Input Tagihan</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <form id="selectForm" th:action="@{/agen/tagihan/form}">
        <section class="clearfix">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header" align="center" th:object="${view}">
                                    <h1>
                                        Tambahkan Tagihan <br>
                                        <b><span style="font-style: normal" th:text="'Agen '+${view.namaCabang}"></span></b>
                                    </h1>

                                </div>
                                <!--Table-->
                                <form th:action="@{/agen/tagihan/rekap}">
                                <div class="body">
                                    <!--Show <span sd:page-size-selector="javascript" ></span> entries-->
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover">
                                                <thead>
                                                <tr align="center">
                                                    <th width="2%">
                                                        <input type="checkbox" id="selectAll" name="selectAll"
                                                               onclick="checkAll(document.getElementById('selectForm'), 'results1',this);"/>
                                                        <label for="selectAll" style="height:10px;"></label>
                                                    </th>
                                                    <th>Tanggal</th>
                                                    <th>Jumlah</th>
                                                    <th>Nilai</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr th:each="h :${hasil}">
                                                    <td width="2%">
                                                        <input type="checkbox" th:id="${h.tanggal}" name="selected" value="01"
                                                               class="results1"/>
                                                        <label th:for="${h.tanggal}" style="height: 10px;"></label>
                                                    </td>
                                                    <td th:text="${h.tanggal}">29-03-2018</td>
                                                    <td th:text="${h.jumlah}">5</td>
                                                    <td th:text="${h.nilai}">1000000</td>
                                                </tr>
                                                </tbody>
                                            </table>
    </form>
    </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-sm-6">-->
    <!--<div sd:pagination-summary="">info</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-sm-8">-->
    <!--<nav class="pull-right">-->
    <!--<ul class="pagination" sd:pagination="full">-->
    <!--&lt;!&ndash; Pagination created by SpringDataDialect, this content is just for mockup &ndash;&gt;-->
    <!--<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>-->
    <!--<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>-->
    <!--</ul>-->
    <!--</nav>-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group" align="right">
        <a th:href="@{/agen/list}">
            <button class="btn btn-lg bg-light-green waves-effect"
                    type="submit">Buat Tagihan
            </button>
        </a>
    </div>
    </div>
    <!--//table//-->
    </div>
    </div>
    </div>
    </div>
    </div>
</section>
</section>

</body>

</html>