<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Form Input Detail Mahasiswa</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <section class="clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Identitas awal-->
                    <div class="card">
                        <br>

<!---//Data Belum Di Isi (Belum Ada Di Database)-->
                        <section class="clearfix">
                            <form action="#" th:action="@{/registrasi/nim/form }" th:object="${detail}" method="post">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel tile fixed_height_160" style="color: black">
                                            <div class="x_title" style="color: black">
                                                <h1>
                                                    Identitas Mahasiswa <span  th:if="${detail.nim != null}"> | <span style="color: #00b0e4" th:text="*{nim}"></span>  </span>

                                                </h1>
                                                <div class="clearfix"></div>
                                            </div>
                                                <input th:field="*{pendaftar}" name="pendaftar" hidden="" >
                                                <input th:field="*{detailPendaftar}" name="detailPendaftar" hidden="" >
                                                <div class="body">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Nama</label>
                                                                    <input type="text" name="nama" th:field="*{nama}"
                                                                         required class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Tempat Lahir</label>
                                                                    <input type="text" name="tempatLahir"
                                                                           class="form-control" th:field="*{tempatLahir}"
                                                                           id="tempatLahir" placeholder="Cari Kabupaten/Kota ..."
                                                                           data-provide="typeahead">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Tanggal Lahir</label>
                                                                    <input type="date" name="tanggalLahir"
                                                                           class="form-control"  th:field="*{tanggalLahir}"
                                                                           required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Golongan Darah</label>
                                                                    <select type="text" name="goldar" th:field="*{golonganDarah}" class="form-control" required autofocus>
                                                                        <option value="">-Pilih Golongan Darah-</option>
                                                                        <option value="A">A</option>
                                                                        <option value="B">B</option>
                                                                        <option value="AB">AB</option>
                                                                        <option value="O">O</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Jenis Kelamin</label>
                                                                    <select name="jeniskelamin" th:field="*{jenisKelamin}"  class="form-control" id="" required autofocus>
                                                                        <option value="">-Pilih Jenis Kelamin-</option>
                                                                        <option value="L">Laki-Laki</option>
                                                                        <option value="P">Perempuan</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>N0. KTP</label>
                                                                    <input type="number" name="noktp"
                                                                           class="form-control" th:field="*{noKtp}"
                                                                           placeholder="No. Ktp" required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Alamat Rumah</label>
                                                                    <input type="text" name="alamat"
                                                                           class="form-control" th:field="*{alamatRumah}"
                                                                           placeholder="Alamat Rumah" required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--kota provinsi-->
                                                        <div id="app">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <div class="form-line">
                                                                        <label for="provinsi">Provinsi</label>
                                                                        <input type="text" class="form-control" th:field="*{provinsi}"
                                                                               id="provinsi" placeholder="Cari Provinsi ..."
                                                                               data-provide="typeahead" autocomplete="off" required autofocus>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <div class="form-line">
                                                                        <label for="kokabawal">Kabupaten/Kota</label>
                                                                        <input type="text" class="form-control" th:field="*{kokab}"
                                                                               id="kokabawal" placeholder="Cari Kabupaten/Kota ..."
                                                                               data-provide="typeahead"
                                                                               autocomplete="off" required autofocus>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/////-->
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Kode Pos</label>
                                                                    <input type="number" name="kodepos"
                                                                           class="form-control" th:field="*{kodePos}"
                                                                           placeholder="Kode Pos" required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>No Hp</label>
                                                                    <input type="number" name="nohp"
                                                                           class="form-control" th:field="*{noHp}"
                                                                           placeholder="No Handphone" required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Email</label>
                                                                    <input type="email" name="email"
                                                                           class="form-control" th:field="*{email}"
                                                                           placeholder="Email" required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Asal Sekolah</label>
                                                                    <input type="text" class="form-control"
                                                                           id="sekolah" placeholder="Cari Sekolah ..." th:field="*{asalSekolah}"
                                                                           data-provide="typeahead" autocomplete="off" required readonly/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Jurusan Sekolah</label>
                                                                    <input type="text" name="jurusan_sekolah"
                                                                           class="form-control" th:field="*{jurusanSekolah}"
                                                                           placeholder="Jurusan Sekolah" required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>NISN</label>
                                                                    <input type="text" name="nisn"
                                                                           class="form-control" th:field="*{nisn}"
                                                                           placeholder="NISN"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Tahun Lulus Sekolah</label>
                                                                    <input type="number" name="tahun_lulus"
                                                                           class="form-control" th:field="*{tahunLulusSekolah}"
                                                                           placeholder="Tahun Lulus Sekolah" required autofocus />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Pekerjaan Pribadi</label>
                                                                    <input type="text" name="pekerjaan"
                                                                           class="form-control" th:field="*{pekerjaanPribadi}"
                                                                           placeholder="Pekerjaan Pribadi"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Penghasilan Pribadi</label>
                                                                    <input type="text" name="penghasilan"
                                                                           class="form-control" th:field="*{penghasilanPribadi}"
                                                                           placeholder="Penghasilan Pribadi"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Status Sipil</label><br>
                                                                    <select name="statusSipil"  class="form-control" th:field="*{statusSipil}" required autofocus>
                                                                        <option value="">-Pilih Status Sipil-</option>
                                                                        <option value="wni">WNI (Warga Negara Indonesia)</option>
                                                                        <option value="wna">WNA (Warga Negara Asing)</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Jalur Pendaftaran</label><br>
                                                                    <select name="jenisTest" th:field="*{jenisTest}" class="form-control" required autofocus>
                                                                        <option value="">-Pilih Jenis Test-</option>
                                                                        <option value="TPA">TPA (Test Potensi Akademik)</option>
                                                                        <option value="JPA">JPA (Jalur Prestasi Akademik)</option>
                                                                        <option value="SMART_TEST">SMART TEST</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">&nbsp;</div>
                                                        <div class="col-sm-6" style="background-color: deepskyblue">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Program Studi Pilihan</label><br>
                                                                    <select name="programStudi" th:field="*{programStudi}" class="form-control" required autofocus>
                                                                        <option value="">-Pilih Program Studi-</option>
                                                                        <option th:each="ins : ${daftarProdi}"
                                                                                th:value="${ins.id}"
                                                                                th:text="${ins.nama}">Ekonomi Syariah</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <input type="text" name="prodiLama" th:field="*{prodiLama}">
                                                        </div>
                                                        <div class="col-sm-3">&nbsp;</div>
                                                    </div>
                                                </div>
                                            </div>



                                            <!-- Identitas Wali -->
                                        <div class="x_panel tile fixed_height_160" style="color: black">
                                            <div class="x_title">
                                                <h1>
                                                    Identitas Orang Tua/Wali

                                                </h1>
                                                <div class="clearfix"></div>
                                            </div>
                                                <div class="body" >
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Nama Ayah</label>
                                                                    <input type="text" name="nama_ayah"
                                                                           class="form-control" th:field="*{namaAyah}"
                                                                           placeholder="Nama Ayah" required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Agama Ayah</label>
                                                                <select name="agamaAyah" th:field="*{agamaAyah}" class="form-control" required autofocus>
                                                                    <option value="">-Pilih Agama-</option>
                                                                    <option value="Islam">Islam</option>
                                                                    <option value="Hindu">Hindu</option>
                                                                    <option value="Budha">Budha</option>
                                                                    <option value="Kristen">Kristen</option>
                                                                    <option value="Katholik">Katholik</option>
                                                                    <option value="KongHuCu">Kong Hu Cu</option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Pendidikan Ayah</label>
                                                                    <select name="pendidikanAyah" th:field="*{pendidikanAyah}" class="form-control js-example-placeholder-single" required autofocus>
                                                                        <option value="">-Pilih Pindidikan Ayah-</option>
                                                                        <option th:each="ins : ${pendidikanOrtu}"
                                                                                th:value="${ins.id}"
                                                                                th:text="${ins.nama}">SMA</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Pekerjaan Ayah</label>
                                                                     <select name="pekerjaanAyah" th:field="*{pekerjaanAyah}" class="form-control js-example-placeholder-single" required autofocus>
                                                                            <option value="">-Pilih Pekerjaan Ayah-</option>
                                                                            <option th:each="ins : ${pekerjaanOrtu}"
                                                                                        th:value="${ins.id}"
                                                                                            th:text="${ins.nama}">PNS</option>
                                                                     </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Nama Ibu</label>
                                                                    <input type="text" name="nama_ibu"
                                                                           class="form-control" th:field="*{namaIbu}"
                                                                           placeholder="Nama Ibu" required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Agama Ibu</label>
                                                                    <select name="agamaIbu" th:field="*{agamaIbu}" class="form-control" required autofocus>
                                                                        <option value="">-Pilih Agama-</option>
                                                                        <option value="Islam">Islam</option>
                                                                        <option value="Hindu">Hindu</option>
                                                                        <option value="Budha">Budha</option>
                                                                        <option value="Kristen">Kristen</option>
                                                                        <option value="Katholik">Katholik</option>
                                                                        <option value="KongHuCu">Kong Hu Cu</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Pendidikan Ibu</label>
                                                                    <select name="pendidikanIbu" th:field="*{pendidikanIbu}" class="form-control js-example-placeholder-single" required autofocus>
                                                                        <option value="">-Pilih Pindidikan Ibu-</option>
                                                                        <option th:each="ins : ${pendidikanOrtu}"
                                                                                th:value="${ins.id}"
                                                                                th:text="${ins.nama}">SMA</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Pekerjaan Ibu</label>
                                                                    <select name="pekerjaanIbu" th:field="*{pekerjaanIbu}" class="form-control js-example-placeholder-single" required autofocus>
                                                                        <option value="">-Pilih Pekerjaan Ibu-</option>
                                                                        <option th:each="ins : ${pekerjaanOrtu}"
                                                                                th:value="${ins.id}"
                                                                                th:text="${ins.nama}">PNS</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Alamat Orangtua</label>
                                                                    <input type="text" name="alamat_orangtua"
                                                                           class="form-control" th:field="*{alamatOrangtua}"
                                                                           placeholder="Alamat Orangtua" required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Kab./Kota Orangtua</label>
                                                                    <input type="text" class="form-control"
                                                                           id="cariKokab" placeholder="Cari Kabupaten/Kota ..."
                                                                           data-provide="typeahead" th:field="*{kokabOrangtua}"
                                                                           autocomplete="off" required autofocus>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Telepon/Hp Orangtua</label>
                                                                    <input type="number" name="hp_orangtua"
                                                                           class="form-control" th:field="*{nohpOrangtua}"
                                                                           placeholder="No Handphone Orangtua" required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Email Orangtua</label>
                                                                    <input type="email" name="email_orangtua"
                                                                           class="form-control" th:field="*{emailOrangtua}"
                                                                           placeholder="Email Orangtua" required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Penghasilan Orangtua</label>
                                                                    <select name="penghasilanOrangtua" th:field="*{penghasilanOrangtua}" class="form-control js-example-placeholder-single" required autofocus>
                                                                        <option value="">-Pilih Penghasilan-</option>
                                                                        <option th:each="ins : ${penghasilanOrtu}"
                                                                                th:value="${ins.id}"
                                                                                th:text="${ins.nama}">1.000.000</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Jumlah Tanggungan</label>
                                                                    <input type="text" name="jumlah_tanggungan"
                                                                           class="form-control" th:field="*{jumlahTanggungan}"
                                                                           placeholder="Jumlah Tanggungan" required autofocus/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="nim" th:value="${detail.nim}">

                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <label>Rencana Biaya</label>
                                                                    <select type="text" name="rencanaBiaya" th:field="*{rencanaBiaya}" class="form-control" required autofocus>
                                                                        <option value="">-Pilih Rencana Biaya-</option>
                                                                        <option value="Sendiri">Sendiri</option>
                                                                        <option value="Orang Tua">Orang Tua</option>
                                                                        <option value="Beasiswa">Beasiswa</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Simpan Data -->
                                                        <div class="col-sm-12" align="right">
                                                            <div class="form-group">
                                                                <button class="btn btn-md btn-info"
                                                                        type="submit">SELESAI</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12" align="left">
                                                            <span align="left" style="color:red;">*Pastikan Setelah Mingisi Data Anda Mendapatkan NIM</span><br>
                                                            <span align="left" style="color:red;">*Pastikan Data Terisi Semua</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </form>
                        </section>
                </div>
            </div>
        </div>
    </section>
</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Select one",
        allowClear: true
    });

</script>