<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>GeneratePassword Selesai</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <section class="clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header" >
                            <h1>
                                Generate Nim Berhasil
                            </h1>
                        </div>
                        <div class="body">
                            <div class="row" th:if="${(detail != null)}">
                                <div class="col-sm-9">
                                    <div class="table-responsive">
                                        <table class="table table-responsive">
                                            <tr>
                                                <td width="20%">No Registrasi</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.pendaftar.nomorRegistrasi}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">Nama</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.pendaftar.nama}" ></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">No Hp</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.noHp}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">Email</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.email}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">Asal Sekolah</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.asalSekolah}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">Program Studi</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.pendaftar.programStudi.nama}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">NIM</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <b><span th:text="${detail.nim}"></span></b>
                                                </td>
                                            </tr>
                                        </table>
                                        <a th:href="@{/registrasi/pembayaran/list}" class="btn btn-lg bg-light-green waves-effect"
                                                type="submit">Kembali</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>