<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Form Input Sekolah</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <form th:action="@{/sekolah/form}" th:object="${sekolah}" method="post">
            <input type="hidden" name="id" th:field="*{id}">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel tile fixed_height_160">
                        <div class="x_title" style="color: black">
                            <h1>Input Sekolah</h1>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row clearfix" style="color: black">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="card">
                                                <div class="body">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>Nama</label>
                                                                <input type="text" name="nama" th:field="*{nama}"
                                                                       class="form-control"
                                                                       placeholder="Nama" required autofocus/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>NSPN Sekolah</label>
                                                                <input type="text" name="nspn" th:field="*{nspn}"
                                                                       class="form-control"
                                                                       placeholder="Nspn" required autofocus/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>Alamat</label>
                                                                <input type="text" name="alamat" th:field="*{alamat}"
                                                                       class="form-control"
                                                                       placeholder="Alamat" required autofocus/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>No Telephone</label>
                                                                <input type="" name="kontak" th:field="*{kontak}"
                                                                       class="form-control"
                                                                       placeholder="No Telephone" required autofocus/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <button class="btn btn-md btn-info waves-effect" type="submit">SELESAI</button>
                                                                <a th:href="@{/sekolah/list}" class="btn btn-md btn-danger waves-effect" type="submit">BATAL</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!--//table//-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
</section>

</body>
</html>