<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>List Tagihan Pendaftar</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_160">
                <div class="x_title" style="color: black">
                    <h1 style="font-style: normal; font-size: 30px;" th:text="${'Data Tagihan Pendaftar : '+ pendaftar.nama + ' > ' + pendaftar.nomorRegistrasi}"></h1>
                    <div class="clearfix"></div>
                </div>
                <div class="row clearfix" style="color: black">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body">
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>Tanggal Tagihan</th>
                                                            <th>Nomor Tagihan</th>
                                                            <th>Keterangan</th>
                                                            <th>Nilai</th>
                                                            <th>Status</th>
                                                            <th>&nbsp;</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="test : ${daftarTagihan}">
                                                            <td th:text="${test.tanggalTagihan}">SMK Wiladatika</td>
                                                            <td th:text="${test.nomorTagihan}">12342341212</td>
                                                            <td th:text="${test.Keterangan}">Jln Raya Wangun</td>
                                                            <td th:text="${test.nilai}">0251453224</td>
                                                            <td>
                                                                <span th:if="${test.lunas}">Sudah Lunas</span>
                                                                <span th:if="${!test.lunas}">Belum Lunas</span>
                                                            </td>
                                                            <td>
                                                                <span th:if="${test.lunas}">
                                                                    <a th:href="@{/biaya/pembayaran/list(id=${test.id})}" class="btn  btn-primary btn-xs">Lihat Bukti</a>
                                                                </span>
                                                                 <span th:if="${!test.lunas}">
                                                                <a th:href="@{/biaya/pembayaran/form(id=${test.id})}" class="btn  btn-primary btn-xs">Upload Bukti</a>
                                                                <a  th:href="@{/biaya/pembayaran/hapus(id=${test.id})}" type="submit" class="btn btn-danger btn-xs"
                                                                         onclick="return confirm('Are you sure? Once deleted, you will not be able' +
                                                                         ' to recover this imaginary file!')">
                                                                    Hapus</a>
                                                                </span>
                                                            </td>
                                                            <input type="text" hidden="" id="id" th:value="${test.Pendaftar.id}">
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!--//table//-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

</body>
</html>