<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Form Input Hasil Test</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <section class="clearfix">
        <form>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- Identitas awal-->
                        <div class="card">
                            <div class="header" >
                                <center>
                                    <h1>
                                        Pengisian Data Telah Berhasil
                                    </h1>
                                    <h4>Selamat satu tahap lagi Anda akan menjadi mahasiswa/i di kampus pelopor ekonomi islam STEI TAZKIA.</h4>
                                </center>
                                <br><br>
                                <h5>
                                    <label style="font-size: 12px; color: #ff0000;">
                                        <h5>Silahkan Cek Email Anda</h5>
                                        *Jika tidak menerima email silahkan hubungi kontak kami!!!
                                    </label>
                                </h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

</section>

</body>
</html></html>