<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Grade</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h3>
                                    Data Grade
                                </h3>
                                <br>
                                <a th:href="@{/grade/form}"
                                   class="btn btn-lg bg-blue-grey waves-effect" type="submit">Tambah</a>
                            </div>
                            </div>
                            <!--Table-->
                            <div class="body">
                            <form method="get">
                                Nama Grade : <br><input type="text" name="nama" th:value="${nama}">
                                <input type="submit" value="Cari" class="btn  bg-blue-grey waves-effect">
                            </form>
                            <br>
                            Show <span sd:page-size-selector="javascript"></span> entries

                            <hr>


                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Graded</th>
                                            <th>Nilai Minimum</th>
                                            <th colspan="2">&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p,row : ${daftarGrade}">
                                            <td th:text="${(row.index + 1) + (daftarGrade.number * daftarGrade.size)}">#</td>
                                            <td th:text="${p. nama}">muamalah</td>
                                            <td th:text="${p. nilai_minimum}">10-08-2017</td>
                                            <td width="100px">
                                                <a href="form"  th:href="@{/grade/form(id=${p.id})}"
                                                   class="btn bg-green waves-effec">Edit
                                                </a>
                                            </td>
                                            <td width="100px">
                                                <a href="form"  th:href="@{/grade/hapus(id=${p.id})}"
                                                   class="btn bg-red waves-effec">Hapus
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div sd:pagination-summary="">info</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <nav class="pull-right">
                                            <ul class="pagination" sd:pagination="full">
                                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!--//table//-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>