<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<script th:src="@{/js/aplikasi.js}"></script>

<head>
    <meta charset="UTF-8">
    <title>Data Pendaftaran Mahasiswa</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                    <h1>
                                        Verifikasi Pembayaran
                                    </h1><br>
                                    <label><h5>No Pendaftaraan : </h5></label>
                                    <input type="text" placeholder="No Pendaftar ..."
                                           id="pendaftar"
                                           data-provide="typeahead"
                                           autocomplete="off" required autofocus>

                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body">
                                            <h4>Data Pendaftar</h4>
                                            <div class="table-responsive">
                                                <table class="table table-responsive">
                                                        <tr>
                                                            <td width="20%">No Pendaftran</td>
                                                            <td width="10px">:</td>
                                                            <td>
                                                                <span id="nomorRegistrasi" ></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td size="100px" width="20%">Nama</td>
                                                            <td width="10px">:</td>
                                                            <td>
                                                                <span id="nama"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20%">Email</td>
                                                            <td width="10px">:</td>
                                                            <td>
                                                                <span id="email"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20%">No Hp</td>
                                                            <td width="10px">:</td>
                                                            <td>
                                                                <span id="noHp"></span>
                                                            </td>
                                                        </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>