<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Periode</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h3>
                                    Data Periode
                                </h3>
                            </div>
                            <!--Table-->
                            <div class="body">
                                <form method="get">
                                    Periode : <br><input type="text" name="nama" th:value="${nama}">
                                    <input type="submit" value="Cari" class="btn  bg-blue-grey waves-effect">
                                </form>
                                <br>
                                Show <span sd:page-size-selector="javascript"></span> entries

                                <hr>


                                <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Periode</th>
                                            <th>Tanggal Mulai</th>
                                            <th>Tanggal Selesai</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p, row : ${daftarPeriode}">
                                            <td th:text="${(row.index + 1) + (daftarPeriode.number * daftarPeriode.size)}">#</td>
                                            <td th:text="${p. nama}">muamalah</td>
                                            <td th:text="${p. tanggal_mulai}">10-08-2017</td>
                                            <td th:text="${p. tanggal_selesai}">10-10-2017</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div sd:pagination-summary="">info</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <nav class="pull-right">
                                            <ul class="pagination" sd:pagination="full">
                                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!--//table//-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>