<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <link rel="icon" href="https://tazkia.ac.id/images/logo-tazkia-2.png"/>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>SPMB STEI Tazkia </title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/index/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/css/index/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/index/agency.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index/agency.css}">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <h4><a class="nav-link js-scroll-trigger" href="https://spmb.tazkia.ac.id/">STEI TAZKIA</a></h4>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#prodi">Program Studi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#hasilTest">Hasil Test</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#biaya">Biaya</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#periode">Periode</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#prosedur">Prosedur</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://spmb.tazkia.ac.id/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--//navigation-->
      <section>

        <div layout:fragment="content">

          <p>Page Content</p>

        </div>

      </section>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/js/index/jquery.min.js}"></script>
    <script th:src="@{/js/index/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/js/index/jquery.easing.min.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/index/agency.min.js}"></script>
    <script th:src="@{/js/aplikasi.js}"></script>

  </body>

</html>
