<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<section layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_160">
                <div class="x_title">
                    <h1>Selamat Datang</h1>
                    <br><a th:href="@{/registrasi/detail/form}"><span style="color: blue"  sec:authorize="hasAuthority('VIEW_PENDAFTAR')">Lengkapi Data Anda.</span></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div sec:authorize="hasAnyAuthority('VIEW_MASTER','VIEW_FINANCE','VIEW_AKADEMIK')">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-users"></i></div>
                    <div class="count" th:text="${cPendaftar}">-</div>
                    <a th:href="@{/registrasi/list}"><h3>Pendaftar</h3></a>
                    <p>Total Pendaftar</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-pencil-square-o"></i></div>
                    <div class="count" th:text="${cDetail}">-</div>
                    <a th:href="@{/registrasi/list}"><h3>Detail Pendaftar</h3></a>
                    <p>Total yang sudah mengisi data detail.</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-retweet"></i></div>
                    <div class="count" th:text="${cDaftar}">-</div>
                    <a th:href="@{/registrasi/pembayaran/list?jenisBiaya=002&pendaftar=}"><h3>Daftar Ulang</h3></a>
                    <p>Total yang sudah daftar ulang</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div class="count" th:text="${cHasilSmart}">-</div>
                    <a th:href="@{/registrasi/hasil/smart}"><h3>Smart Test</h3></a>
                    <p>Total hasil test (Smart Test) belum daftar</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-check-square-o"></i></div>
                    <div class="count" th:text="${cHasil}">-</div>
                    <a th:href="@{/registrasi/hasil/list}"><h3>Hasil Test</h3></a>
                    <p>Total hasil test (JPA, TPA & Smart Test) Terdaftar</p>
                </div>
            </div>
        </div>

        <div th:if="${(user != null) && (password != null)}">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-lock"></i></div>
                    <p>Password Telah di rubah</p>
                    <div class="count" th:text="${password}"></div>
                    <h3>Password baru</h3>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>