<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{frontend}">

<body>
<section layout:fragment="content">
    <header class="masthead" id="home">
        <div class="container">
            <div class="intro-text" >
                <div class="intro-lead-in">Penerimaan Mahasiswa/i Baru</div>
                <div class="intro-heading text-uppercase">STEI TAZKIA</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="http://spmb.tazkia.ac.id/registrasi/form" target="_blank">Registrasi</a>
            </div>
        </div>
    </header><br>

    <!-- Program Studi -->
    <section id="prodi" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Program Studi</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="https://tazkia.ac.id/ei/" target="_blank">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                        <h4 class="service-heading">Islamic Economic</h4>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://tazkia.ac.id/ai/" target="_blank">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                        <h4 class="service-heading">Islamic Accounting</h4>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://tazkia.ac.id/bmi/" target="_blank">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                        <h4 class="service-heading">Islamic Business & Management</h4>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://tazkia.ac.id/mualamah/" target="_blank">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                        <h4 class="service-heading">Islamic Law</h4>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://tazkia.ac.id/ai/" target="_blank">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                        <h4 class="service-heading">Islamic Economics Education</h4>
                    </a>
                </div>
            </div>
        </div>
    </section><br>
    <!--Hasil Test-->
    <section id="hasilTest">
      <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Pilih Hasil Test</h2>
                </div>
            </div>
        <div class="col-lg-12 text-center">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tpa" role="tab">Hasil TPA dan JPA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#smart" role="tab">Hasil Smart Test</a>
                </li>
            </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
<!--Test Potensi Akademik-->
            <div class="tab-pane" id="tpa" role="tabpanel" sd:page-object="${daftarHasil}" sd:pagination-qualifier="tpa">
                    <div class="row">
                        <div class="col-lg-12 text-center"><br>
                            <h3 class="section-heading text-uppercase">Hasil TPA/JPA </h3>
                        </div>
                    </div>
                    <center>
                        <form method="get">
                            <br><input type="text" id="search" name="search" placeholder="Nama/No Registrasi Anda" th:value="${search}" >
                            <input type="submit" value="Cari" class="btn-success"><br><br>
                            Show <span sd:page-size-selector="javascript"></span> entries
                        </form>
                    </center><br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <table border="1" class="table table-responsive">
                                        <tr align="center">
                                            <th width="4%">No</th>
                                            <th>Nomor Registrasi</th>
                                            <th>Nama</th>
                                            <th>Asal Sekolah</th>
                                            <th>Grade</th>
                                        </tr>
                                        <tr th:each="p,row : ${daftarHasil}" align="center">
                                            <td th:text="${(row.index + 1) + (daftarHasil.number * daftarHasil.size)}">#</td>
                                            <td th:text="${p.pendaftar.nomorRegistrasi}"></td>
                                            <td th:text="${p.pendaftar.nama}"></td>
                                            <td th:text="${p.pendaftar.namaAsalSekolah}"></td>

                                            <td>
                                        <span style="color: #4fa9e8; font-size: 16px;" th:if="${p.nilai}>29">Lulus(
                                           <span th:text="${p.grade.nama}"  style="color:black; font-size: 16px;"></span> )
                                        </span>
                                                <span th:if="${p.nilai}<29">
                                           <span th:text="${p.grade.nama}"  style="color: red; font-size: 16px;"></span>                                        </span>
                                            </td>

                                        </tr>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div sd:pagination-summary="">info</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <nav class="pull-right">
                                                <ul class="pagination" sd:pagination="full">
                                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!---->

<!--Smart Test-->
            <div class="tab-pane" id="smart" role="tabpanel" sd:page-object="${daftarSmart}" sd:pagination-qualifier="smart">
                    <div class="row">
                        <div class="col-lg-12 text-center"><br>
                            <h3 class="section-heading text-uppercase">Hasil Smart Test</h3>
                        </div>
                    </div>
                    <center>
                        <form method="get">
                            <br><input type="text" id="cari" name="cari" placeholder="Nama/Sekolah Anda" th:value="${cari}" >
                            <input type="submit" value="Cari" class="btn-success"><br><br>
                            Show <span sd:page-size-selector="javascript"></span> entries
                        </form>
                    </center><br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <table border="1" class="table table-responsive">
                                        <tr align="center">
                                            <th width="4%">No</th>
                                            <th>Nama</th>
                                            <th>Asal Sekolah</th>
                                            <th>Nilai</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        <tr th:each="p,row : ${daftarSmart}" align="center">
                                            <td th:text="${(row.index + 1) + (daftarSmart.number * daftarSmart.size)}">#</td>
                                            <td th:text="${p.pendaftar.nama}"></td>
                                            <td th:text="${p.pendaftar.namaAsalSekolah}"></td>
                                            <td>
                                        <span style="color: #4fa9e8; font-size: 16px;" th:if="${p.nilai}>29">Lulus(
                                           <span th:text="${p.grade.nama}"  style="color:black; font-size: 16px;"></span> )
                                        </span>
                                                <span th:if="${p.nilai}<29">
                                           <span th:text="${p.grade.nama}"  style="color: red; font-size: 16px;"></span>                                        </span>
                                            </td>
                                            <td>
                                              <span th:if="${p.pendaftar.programStudi == null}">
                                                <a th:href="@{registrasi/form(id = ${p.pendaftar.id})}" target="_blank" class="btn btn-primary text-uppercase js-scroll-trigger">Daftar</a>
                                              </span>
                                            </td>

                                        </tr>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div sd:pagination-summary="">info</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <nav class="pull-right">
                                                <ul class="pagination" sd:pagination="full">
                                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!---->
        </div>
      </div>
    </section><br>
    <!---->
    <!-- biaya S1&S2-->
    <section class="bg-light" id="biaya">
        <center>
            <h1>Daftar Biaya Pendidikan <br>
                <a href="#s1" class="js-scroll-trigger">S1</a> & <a href="#s2" class="js-scroll-trigger">S2</a></h1>
            <br>
        </center>
        <!--S1-->
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center" id="s1">
                    <h3 class="section-heading text-uppercase">Biaya Pendidikan S1</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <table border="1" class="table table-responsive">
                        <tr>
                            <th>No</th>
                            <th width="18%">Program Studi</th>
                            <th width="13%">Batch I</th>
                            <th width="15%">Batch II <br> (Grade A)</th>
                            <th width="15%">Batch II <br> (Grade B)</th>
                            <th width="15%">Batch III <br> (Grade A)</th>
                            <th width="15%">Batch III <br> (Grade B)</th>
                            <th>Course Fee/Semester (24 Course Hours)</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>Islamic Economic</td>
                            <td style="color: red">Free</td>
                            <td>Rp. 11.000.000,-</td>
                            <td>Rp. 13.500.000,-</td>
                            <td>Rp. 13.500.000,-</td>
                            <td>Rp. 16.000.000,-</td>
                            <td>Rp. 7.000.000,-</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Islamic Acounting</td>
                            <td style="color: red">Free</td>
                            <td>Rp. 11.000.000,-</td>
                            <td>Rp. 13.500.000,-</td>
                            <td>Rp. 13.500.000,-</td>
                            <td>Rp. 16.000.000,-</td>
                            <td>Rp. 8.500.000,-</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Islamic Business & Management</td>
                            <td style="color: red">Free</td>
                            <td>Rp. 11.000.000,-</td>
                            <td>Rp. 13.500.000,-</td>
                            <td>Rp. 13.500.000,-</td>
                            <td>Rp. 16.000.000,-</td>
                            <td>Rp. 8.500.000,-</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Muamalah</td>
                            <td style="color: red">Free</td>
                            <td>Rp. 11.000.000,-</td>
                            <td>Rp. 13.500.000,-</td>
                            <td>Rp. 13.500.000,-</td>
                            <td>Rp. 16.000.000,-</td>
                            <td>Rp. 6.500.000,-</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Islamic Economics Education</td>
                            <td style="color: red">Free</td>
                            <td>Rp. 11.000.000,-</td>
                            <td>Rp. 13.500.000,-</td>
                            <td>Rp. 13.500.000,-</td>
                            <td>Rp. 16.000.000,-</td>
                            <td>Rp. 5.500.000,-</td>
                        </tr>
                        <tr>
                            <th colspan="2">Registration Fee</th>
                            <th colspan="3">Hostel fee/month (First year only)*</th>
                            <th colspan="3">Fee of Research, VIVA & Convocation</th>
                        </tr>
                        <tr>
                            <td colspan="2">Rp. 300.000,-</td>
                            <td colspan="3">Rp. 1.500.000,-</td>
                            <td colspan="3">Rp. 2.000.000,-</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <!---->
        <hr><br>
        <!--S2-->
        <div class="container" id="s2">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase">Biaya Pendidikan S2</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <table border="1" class="table table-responsive">
                            <tr align="center">
                                <th width="4%">No</th>
                                <th>Semester 1</th>
                                <th>Semester 2</th>
                                <th>Semester 3</th>
                                <th>Semester 4</th>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>Rp. 10.500.000,-</td>
                                <td>Rp. 14.000.000,-</td>
                                <td>Rp. 14.000.000,-</td>
                                <td>Rp. 8.500.000,-</td>
                            </tr>
                            <tr>
                                <td colspan="4" align="right">Biaya Pendaftaran</td>
                                <td colspan="1">Rp. 500.000,-</td>
                            </tr>
                            <tr>
                                <td colspan="4" align="right">Total Biaya</td>
                                <th colspan="1">Rp. 47.500.000,-</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <br>

    <!-- periode -->
    <section   id="periode">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Periode Pendaftaran</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="sentMessage" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <table align="center" class="table table-renponsive">
                                    <tr>
                                        <th>No</th>
                                        <th>Periode</th>
                                        <th>Tanggal Mulai</th>
                                        <th>Tanggal Selesai</th>
                                    </tr>
                                    <tr>
                                        <td>1.</td>
                                        <td>Batch 1</td>
                                        <td>1 November 2017</td>
                                        <td>30 April 2018</td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>Batch 2</td>
                                        <td>1 Mei 2018</td>
                                        <td>30 Juli 2018</td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>Batch 3</td>
                                        <td>1 Agustus 2018</td>
                                        <td>30 Oktober 2018</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><br>


    <!-- prosedur -->
    <section class="bg-light" id="prosedur">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Prosedur Pendaftaran</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <br><br><h1>1.</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Tahap 1</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <ul>
                                        <li><h5>Jalur TPA & JPA</h5></li>
                                        Mengisi formulir pendaftar di <a target="_blank" href="http://spmb.tazkia.ac.id/registrasi/form">SPMB Tazkia</a>
                                        <li><h5>Jalur Smart Test</h5></li>
                                        Melakukan test langsung di sekolah saat Talk Show STEI Tazkia
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br><br><h1>2.</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Tahap 2</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <ul>
                                        <li><h5>Jalur TPA & JPA</h5></li>
                                        Melakukan pembayaran biaya pendaftaran Rp. 300.000,- dan mendapatkan username & password.
                                        <li><h5>Jalur Smart Test</h5></li>
                                        Melihat hasil test.
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <br><br><h1>3.</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Tahap 3</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <ul>
                                        <li><h5>Jalur TPA & JPA</h5></li>
                                        Login dan melengkapi data terlebih dahulu sebelum mendapatkan kartu peserta dan jadwal test.
                                        <li><h5>Jalur Smart Test</h5></li>
                                        Melakukan pembayaran biaya pendaftaran Rp. 300.000,-, untuk mendapatkan username & password
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br><br><h1>4.</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Tahap 4</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <ul>
                                        <li><h5>Jalur TPA & JPA</h5></li>
                                        Melakukan test sesuai dengan jadwal yang sudah di tentukan oleh panitia.
                                        <li><h5>Jalur Smart Test</h5></li>
                                        Login dan melengkapi data terlebih dahulu.
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <br><br><h1>5.</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Tahap 5</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <ul>
                                        <li><h5>Jalur TPA & JPA</h5></li>
                                        Melihat pengumuman hasil test.
                                        <li><h5>Jalur Smart Test</h5></li>
                                        Melakukan daftar ulang.
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br><br><h1>6.</h1>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Tahap 6</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <ul>
                                        <li><h5>Jalur TPA & JPA</h5></li>
                                        Melakukan daftar ulang.
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section><br>


    <!-- contact -->
    <section id="contact" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase" style="color: black">Kontak Kami</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" th:src="@{/images/man.png}" alt="">
                        <h4>Anwar</h4>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                0895320102086
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" th:src="@{/images/woman.png}" alt="">
                        <h4>Irma</h4>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                08159551299
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" th:src="@{/images/man.png}" alt="">
                        <h4>Sadam</h4>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                085211464969
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <b><a class="large text-muted" href="http://tazkia.ac.id" target="_blank"><h4>STEI TAZKIA</h4></a></b>
                    <p class="large text-muted">Jl.Ir. H. Djuanda No.78 Sentul City, Bogor 16810 Indonesia.</p>
                    <p class="large text-muted">Phone: +62-21-87962291-93 <br>
                        Fax: +62-21-87962294 <br>
                        Email: spmb@tazkia.ac.id <br>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/steitazkia/" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/humas.steitazkia" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://instagram.com/steitazkia/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCX_XTCSUrs91sQkpvZZH8_A" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-light">
        <div  class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; STEI Tazkia 2017-2022</span>
                </div>
            </div>
        </div>
    </footer>

</section>

</body>
</html>