<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{frontend}">

<body>
    <link rel="icon" href="https://tazkia.ac.id/images/logo-tazkia-2.png">
<section layout:fragment="content">
    <!-- Facebook Pixel Code -->
    <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '317954755529124');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=317954755529124&ev=PageView&noscript=1"
        />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <div id="/" class="slider-area">
        <div class="bend niceties preview-2">
            <a th:href="@{/registrasi/form}">
                <div id="ensign-nivoslider"  class="slides">
                    <img src="images/slider/slider1.png" alt="" title="#slider-direction-1" />
                    <img src="images/slider/slider2.png" alt="" title="#slider-direction-2" />
                    <img src="images/slider/slider3.png" alt="" title="#slider-direction-3" />
                </div>
            </a>
        </div>
        <!--<div id="slider-direction-1" class="slider-direction slider-one">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                        <!--<div class="slider-content">-->
                            <!--&lt;!&ndash; layer 1 &ndash;&gt;-->
                            <!--<div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">-->
                                <!--<h2 class="title1">Sekolah Tinggi Ekonomi Islam TAZKIA</h2>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; layer 2 &ndash;&gt;-->
                            <!--<div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">-->
                                <!--<h1 class="title2">Penerimaan Mahasiswa/i Baru <br>STEI TAZKIA</h1>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; layer 3 &ndash;&gt;-->
                            <!--<div class="layer-1-3 wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">-->
                                <!--<a class="ready-btn right-btn page-scroll" th:href=@{/registrasi/form}>Registrasi</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <!-- End Slider Area -->

    <!-- Start Brosur -->
    <div id="brosur" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Brosur</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                            <img src="images/3.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well"><br>
                            <h4 class="sec-head">Download Brosur</h4>
                            <ul>
                                <li>
                                    <a th:href="@{/brosur/stei}"> <i class="fa fa-check"></i> STEI TAZKIA </a>
                                </li>
                                <li>
                                    <a th:href="@{/brosur/pei}"> <i class="fa fa-check"></i> Pendidikan Ekonomi Syariah (S1) </a>
                                </li>
                                <li>
                                    <a th:href="@{/brosur/mua}"> <i class="fa fa-check"></i> Hukum Ekonomi Syariah (S1) </a>
                                </li>
                                <li>
                                    <a th:href="@{/brosur/ai}"> <i class="fa fa-check"></i> Akuntansi Syariah (S1) </a>
                                </li>
                                <li>
                                    <a th:href="@{/brosur/bmi}"> <i class="fa fa-check"></i> Manajemen Bisnis Syariah (S1) </a>
                                </li>
                                <li>
                                    <a th:href="@{/brosur/ei}"> <i class="fa fa-check"></i> Ilmu Ekonomi Syariah (S1) </a>
                                </li>
                                <li>
                                    <a th:href="@{/brosur/d3}"> <i class="fa fa-check"></i> Manajemen Keuangan Mikro Syariah (D3) </a>
                                </li>
                                <li>
                                    <a th:href="@{/brosur/s2}"> <i class="fa fa-check"></i> Pascasarjana (S2) </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End col-->
            </div>
        </div>
    </div>
    <!-- End Brosur -->

    <!-- Program Studi -->
    <div id="prodi" class="services-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline services-head text-center">
                        <h2>Program Studi</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="services-contents">
                    <!-- Start Left services -->
                    <a href="https://tazkia.ac.id/ei/" target="_blank">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <div class="services-icon" >
                                            <i class="fa fa-graduation-cap"></i>
                                        </div>
                                        <h4>Ekonomi Syariah</h4>
                                        <p>
                                            " Islamic Economics Department offers three consentration ; Islamic Development Economy, Islamic Moneter Finance, Islamic Digital Economy. "
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                    </a>
                    <a href="https://tazkia.ac.id/ai/" target="_blank">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <div class="services-icon">
                                            <i class="fa fa-graduation-cap"></i>
                                        </div>
                                        <h4>Akuntansi Syariah</h4>
                                        <p>
                                            " Islamic Accounting Department offers three major of concentration, namely Information System, Auditing, and Islamic Banking Information System. "
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                    </a>
                    <a href="https://tazkia.ac.id/bmi/" target="_blank">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <div class="services-icon">
                                            <i class="fa fa-graduation-cap"></i>
                                        </div>
                                        <h4>Manajemen Bisnis Syariah</h4>
                                        <p>
                                            " Islamic Business and Management Department offers three concentrations, i.e : Islamic Banking and Finance, Islamic Marketing and Entrepreneurship, and Islamic Digital Marketing. "
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                    </a>
                    <a href="https://tazkia.ac.id/muamalah/" target="_blank">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <div class="services-icon">
                                            <i class="fa fa-graduation-cap"></i>
                                        </div>
                                        <h4>Hukum Ekonomi Syariah</h4>
                                        <p>
                                            " ISLAMIC ECONOMICS AND BUSINESS LAW DEPARTEMENT. "
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                    </a>
                    <!-- End Left services -->
                    <a href="https://tazkia.ac.id/pei/" target="_blank">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <div class="services-icon">
                                            <i class="fa fa-graduation-cap"></i>
                                        </div>
                                        <h4>Pendidikan Ekonomi Syariah</h4>
                                        <p>
                                            " Progam Studi Pendidikan Ekonomi Syariah, membekali mahasiswa dengan ilmu ekonomi syariah dan teori serta aplikasi pengajaran yangn yang universal dan komprehensif. "
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                    </a>
                    <!-- End Left services -->
                    <a href="https://tazkia.ac.id/mes/" target="_blank">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <div class="services-icon">
                                            <i class="fa fa-graduation-cap"></i>
                                        </div>
                                        <h4>Magister Ekonomi Syariah</h4>
                                        <p>
                                            " Masters in Sharia Economics offers three concentration choices, Islamic Accounting, Islamic Business Management, Islamic Wealth management. "
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                    </a>
                    <!-- End Left services -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Program Studi -->

    <!-- Prosedur pendaftaran -->
    <div id="prosedur" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Prosedur Pendaftaran</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="faq-details">
                        <div class="panel-group" id="1">
                            <!-- Panel Default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" class="active" data-parent="#1" href="#check1">
                                            <span class="acc-icons"></span>Steps 1
                                        </a>
                                    </h4>
                                </div>
                                <div id="check1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Jalur TPA & JPA
                                        <ol>
                                            <li>Mengisi formulir pendaftar di <a href="https://spmb.tazkia.ac.id/registrasi/form">SPMB Tazkia</a></li>
                                        </ol>
                                        Jalur Smart Test
                                        <ol>
                                            <li>Melakukan test langsung di sekolah saat Road Show STEI Tazkia.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <!-- End Panel Default -->
                            <!-- Panel Default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#1" href="#check2">
                                            <span class="acc-icons"></span>Steps 2
                                        </a>
                                    </h4>
                                </div>
                                <div id="check2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Jalur TPA & JPA
                                        <ol>
                                            <li>Melakukan pembayaran biaya pendaftaran Rp. 300.000,- dan mendapatkan username & password.</li>
                                        </ol>
                                        Jalur Smart Test
                                        <ol>
                                            <li>Melihat hasil test.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <!-- End Panel Default -->
                            <!-- Panel Default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#1" href="#check3">
                                            <span class="acc-icons"></span>Steps 3
                                        </a>
                                    </h4>
                                </div>
                                <div id="check3" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        Jalur TPA & JPA
                                        <ol>
                                            <li>Login dan melengkapi data terlebih dahulu sebelum mendapatkan kartu peserta dan jadwal test.</li>
                                        </ol>
                                        Jalur Smart Test
                                        <ol>
                                            <li>Melakukan pembayaran biaya pendaftaran Rp. 300.000,-, untuk mendapatkan username & password.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <!-- End Panel Default -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="faq-details">
                        <div class="panel-group" id="2">
                            <!-- Panel Default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#2" href="#check4">
                                            <span class="acc-icons"></span>Steps 4
                                        </a>
                                    </h4>
                                </div>
                                <div id="check4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Jalur TPA & JPA
                                        <ol>
                                            <li>Melakukan test sesuai dengan jadwal yang sudah di tentukan oleh panitia.</li>
                                        </ol>
                                        Jalur Smart Test
                                        <ol>
                                            <li>Login dan melengkapi data terlebih dahulu.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <!-- End Panel Default -->
                            <!-- Panel Default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#2" href="#check5">
                                            <span class="acc-icons"></span>Steps 5
                                        </a>
                                    </h4>
                                </div>
                                <div id="check5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Jalur TPA & JPA
                                        <ol>
                                            <li>Melihat pengumuman hasil test.</li>
                                        </ol>
                                        Jalur Smart Test
                                        <ol>
                                            <li> Melakukan daftar ulang.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <!-- End Panel Default -->
                            <!-- Panel Default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="check-title">
                                        <a data-toggle="collapse" data-parent="#2" href="#check6">
                                            <span class="acc-icons"></span>Steps 6
                                        </a>
                                    </h4>
                                </div>
                                <div id="check6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Jalur TPA & JPA
                                        <ol>
                                            <li> Melakukan daftar ulang.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <!-- End Panel Default -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--end prosedur-->

    <!-- Start Periode -->
    <div id="periode" class="our-team-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>JADWAL TES MASUK MAHASISWA BARU</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="contactForm" name="sentMessage">
                            <div class="row">
                                <div class="col-md-12">
                                    <table align="center" class="table table-responsive table-bordered">
                                        <tr style="background-color: skyblue">
                                            <th>Jenjang</th>
                                            <th>Periode PMB</th>
                                            <th>Pendaftaran</th>
                                            <th>TEST – TPA / (JPA)</th>
                                            <th>Pengumuman</th>
                                            <th>Daftar Ulang</th>
                                        </tr>
                                        <tr>
                                            <td>S1</td>
                                            <td>Gelombang I</td>
                                            <td>1 Oktober – 30 April 2019</td>
                                            <td>11 Nov, 9 Des 2018
                                                <br>13 Jan, 10 Feb, 10 Mar,14 Apr 2019</td>
                                            <td>19 Nov, 17 Des 2018
                                                <br>21 Jan, 18 Feb, 18 Mar 22 Apr 2019</td>
                                            <td>Max – 30 April 2019</td>
                                        </tr>
                                        <tr>
                                            <td>S1</td>
                                            <td>Gelombang II</td>
                                            <td>1 Mei – 31 Juli 2019</td>
                                            <td>12 Mei, 9 Jun, 14 Jul 2019</td>
                                            <td>20 Mei, 17 Jun, 22 Jul 2019</td>
                                            <td>Max – 31 Juli 2019</td>
                                        </tr>
                                        <tr>
                                            <td>S1</td>
                                            <td>Gelombang III</td>
                                            <td>1 Agust -15 Sep 2019</td>
                                            <td>10 Agus, 10 Sep 2019</td>
                                            <td>19 Agus, 10 Sep 2019</td>
                                            <td>Max – 15 Sep 2019</td>
                                        </tr>
                                        <tr>
                                            <td>S2</td>
                                            <td>2018/2019 Ang. XIV</td>
                                            <td>Nov 2018 – Januari 2019</td>
                                            <td>11, 9 Des 2018, 13 Jan 2019</td>
                                            <td>30 Jan 2019</td>
                                            <td>Des 2018-Januari 2019</td>
                                        </tr>
                                        <tr>
                                            <td>S2</td>
                                            <td>2018/2019 Ang. XV</td>
                                            <td>Feb – Agust 2019</td>
                                            <td>10 Feb, 10 Mar, 14 Apr, 12 Mei
                                                <br>9 Jun, 14 Jul, 10 Agus 2019</td>
                                            <td>30 Agus 2019</td>
                                            <td>Feb-Agust 2019</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- End periode -->

    <!-- Start reviews Area -->
    <div class="reviews-area hidden-xs">
        <div class="work-us">
            <div class="work-left-text">
                <img src="https://tazkia.ac.id/wp-content/uploads/revslider/tazkia-funtastique/slider-4.jpg" alt="">
            </div>
            <div class="work-right-text text-center"><br><br><br>
                <h2>
                    Sekolah Tinggi Ekonomi Islam TAZKIA
                </h2>
                <h5>
                    Penerimaan Mahasiswa/i Baru 2019/2020
                </h5>
                <a th:href="@{/registrasi/form}" class="ready-btn">Registrasi</a>
            </div>
        </div>
    </div>
    <!-- End reviews Area -->
    <!-- Daftar biaya -->
    <div id="biaya" class="pricing-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Daftar Biaya</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--biaya ei-->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pri_table_list active">
                        <h3>Ekonomi Syariah<br/> <span class="fa fa-money"></span></h3>
                        <ol>
                            <h6>
                                <li style="font-weight: bold">Batch I, II, & III </li>
                                <li>UP Grade A : <span style="color: green; float: right"> Rp. 13.500.000,-</span></li>
                                <li>UP Grade B : <span style="color: green; float: right"> Rp. 16.000.000,-</span></li>
                                <li>UKT (persemester) : <span style="color: green; float: right"> Rp. 7.000.000,-</span></li>
                                <li>Asrama (10 Bulan) : <span style="color: green; float: right"> Rp. 15.000.000,-</span></li>
                                <li>Biaya Pendaftaran : <span style="color: green; float: right"> Rp. 300.000,-</span></li>

                                <li style="color: blue; font-size: 13px;">*Untuk mendapatkan potongan uang pangkal hubungi kontak kami.</li>

                            </h6>
                        </ol>
                        <button>
                            <a style="color: white" th:href="@{/registrasi/form}">Registrasi</a>
                        </button>
                    </div>
                </div>
                <!--biaya ai-->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pri_table_list active">
                        <h3>Akuntansi Syariah<br/> <span class="fa fa-money"></span></h3>
                        <ol>
                            <h6>
                                <li style="font-weight: bold">Batch I, II, & III </li>
                                <li>UP Grade A : <span style="color: green; float: right"> Rp. 13.500.000,-</span></li>
                                <li>UP Grade B : <span style="color: green; float: right"> Rp. 16.000.000,-</span></li>
                                <li>UKT (persemester) : <span style="color: green; float: right"> Rp. 8.500.000,-</span></li>
                                <li>Asrama (10 Bulan) : <span style="color: green; float: right"> Rp. 15.000.000,-</span></li>
                                <li>Biaya Pendaftaran : <span style="color: green; float: right"> Rp. 300.000,-</span></li>

                                <li style="color: blue; font-size: 13px;">*Untuk mendapatkan potongan uang pangkal hubungi kontak kami.</li>

                            </h6>
                        </ol>
                        <button>
                            <a style="color: white" th:href="@{/registrasi/form}">Registrasi</a>
                        </button>
                    </div>
                </div>
                <!--biaya hukum-->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pri_table_list active">
                        <h3>Hukum Ekonomi Syariah<br/> <span class="fa fa-money"></span></h3>
                        <ol>
                            <h6>
                                <li style="font-weight: bold">Batch I, II, & III </li>
                                <li>UP Grade A : <span style="color: green; float: right"> Rp. 13.500.000,-</span></li>
                                <li>UP Grade B : <span style="color: green; float: right"> Rp. 16.000.000,-</span></li>
                                <li>UKT (persemester) : <span style="color: green; float: right"> Rp. 6.500.000,-</span></li>
                                <li>Asrama (10 Bulan) : <span style="color: green; float: right"> Rp. 15.000.000,-</span></li>
                                <li>Biaya Pendaftaran : <span style="color: green; float: right"> Rp. 300.000,-</span></li>

                                <li style="color: blue; font-size: 13px;">*Untuk mendapatkan potongan uang pangkal hubungi kontak kami.</li>
                            </h6>
                        </ol>
                        <button>
                            <a style="color: white" th:href="@{/registrasi/form}">Registrasi</a>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <!--biaya bmi-->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pri_table_list active">
                        <h3>Manajemen Bisnis <br>Syariah<br/> <span class="fa fa-money"></span></h3>
                        <ol>
                            <h6>
                                <li style="font-weight: bold">Batch I, II, & III </li>
                                <li>UP Grade A : <span style="color: green; float: right"> Rp. 13.500.000,-</span></li>
                                <li>UP Grade B : <span style="color: green; float: right"> Rp. 16.000.000,-</span></li>
                                <li>UKT (persemester) : <span style="color: green; float: right"> Rp. 8.500.000,-</span></li>
                                <li>Asrama (10 Bulan) : <span style="color: green; float: right"> Rp. 15.000.000,-</span></li>
                                <li>Biaya Pendaftaran : <span style="color: green; float: right"> Rp. 300.000,-</span></li>
                                <li style="color: blue; font-size: 13px;">*Untuk mendapatkan potongan uang pangkal hubungi kontak kami.</li>

                            </h6>
                        </ol>
                        <button>
                            <a style="color: white" th:href="@{/registrasi/form}">Registrasi</a>
                        </button>
                    </div>
                </div>
                <!--pei-->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pri_table_list active">
                        <h3>Pendidikan Ekonomi Syariah<br/> <span class="fa fa-money"></span></h3>
                        <ol>
                            <h6>
                                <li style="font-weight: bold">Batch I, II, & III </li>
                                <li>UP Grade A : <span style="color: green; float: right"> Rp. 13.500.000,-</span></li>
                                <li>UP Grade B : <span style="color: green; float: right"> Rp. 16.000.000,-</span></li>
                                <li>UKT (persemester) : <span style="color: green; float: right"> Rp. 5.500.000,-</span></li>
                                <li>Asrama (10 Bulan) : <span style="color: green; float: right"> Rp. 15.000.000,-</span></li>
                                <li>Biaya Pendaftaran : <span style="color: green; float: right"> Rp. 300.000,-</span></li>
                                <li style="color: blue; font-size: 13px;">*Untuk mendapatkan potongan uang pangkal hubungi kontak kami.</li>

                            </h6>
                        </ol>
                        <button>
                            <a style="color: white" th:href="@{/registrasi/form}">Registrasi</a>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pri_table_list active">
                        <h3>Magister Ekonomi Syariah<br/> <span class="fa fa-money"></span></h3>
                        <ol>
                            <h6>
                                <li style="color: black; font-weight: bold">Pendaftaran <span style=" float: right"> Rp. 500.000</span></li>

                                <li style="font-weight: bold; height: 45px;">
                                    <b style="float: right; color: green;">Reguler</b>
                                    <b style="float: left; color: #00b3ee;">Eksekutif</b>
                                </li>
                                <li style="height: 67px; ">
                                    <b style="float: right; color: green;"><br><span> Rp. 6.000.000</span></b>
                                    <b style="float: left; color: black;">Uang Pangkal : <br><span style="color: #00b3ee"> Rp. 5.000.000</span></b>
                                </li>
                                <li style="height: 67px; ">
                                    <b style="float: right; color: green;"><br><span> Rp. 24.000.000</span></b>
                                    <b style="float: left; color: black;">SPP 4 semester : <br><span style="color: #00b3ee"> Rp. 32.000.000</span></b>
                                </li>
                                <li style="height: 67px; ">
                                    <b style="float: right; color: green;"><br><span> Rp. 5.500.000</span></b>
                                    <b style="float: left; color: black;">Tugas Akhir : <br><span style="color: #00b3ee"> Rp. 10.000.000</span></b>
                                </li>
                                <li style="height: 68px; color: blue; font-size: 13px;">*Tersedia Beasiswa 25% untuk Alumni Tazkia dan Guru SMA</li>

                            </h6>
                        </ol>
                        <button>
                            <a style="color: white" th:href="@{/registrasi/form}">Registrasi</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <br>
    <!-- End Daftar Biaya -->
    <!-- Start Beasiswa -->
    <div id="beasiswa" class="portfolio-area area-padding fix">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Info Beasiswa</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                            <img src="images/alur2.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well" style="color: orange"><br>
                            <h4 class="sec-head">Persayaratan</h4>
                            <ul>
                                <li>
                                    <i class="fa fa-star" style="color: gold"></i> Muslim atau Muslimah.
                                </li>
                                <li>
                                    <i class="fa fa-star"style="color: gold"></i> Nilai rata-rata mata pelajaran Matematika, Bahasa Inggris dan keagamaan dari kelas X sampai kelas XI minimal 3.2 untuk kurikulum 2013 atau 80 untuk kurikulum 2006.
                                </li>
                                <li>
                                    <i class="fa fa-star"style="color: gold"></i>  Lulus Seleksi administrasi dan wawancara.
                                </li>
                                <li>
                                    <a href="https://tazkia.ac.id/beasiswa/registrasi" class="btn-small ready-btn ">Registrasi Beasiswa</a>
                                    <a href="https://tazkia.ac.id/beasiswa/" class="btn-small ready-btn ">More Info</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End col-->
            </div>
        </div>
    </div>
    <!-- End Beasiswa -->

    <!-- Testimoni -->
    <div class="testimonials-area">
        <div class="testi-inner area-padding">
            <div class="testi-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Start testimonials Start -->
                        <div class="testimonial-content text-center">
                            <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>
                            <!-- start testimonial carousel -->
                            <div class="testimonial-carousel">
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <p>
                                            Perkembangan Ekonomi Syariah saat ini perlu didukung oleh sumber daya insani yang berkualitas dan berkelas. Sebagai kampus ekonomi syariah pertama & terbaik yang lengkap & terpadu dalam menvetak lulusan-lulusan yang kompeten dan multi talenta diberbagai bidang. Saya bersyukur menjadi bagian dari keluarga besar STEI Tazkia.
                                        </p>
                                        <h6>Hilman Fauzi Nugraha, S.E.I., M.E.Sy.</h6>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <p>
                                            Menjadi alumni STEI Tazkia bagi saya merupakan sebuah kebanggaan. Semoga STEI Tazkia bukan hanya menjadi pelopor ekonomi syariah tetapi juga menjadi katalisator dalam mengaplikasikan muamalah di dalam bisnis dan keseharian ummat.
                                        </p>
                                        <h6>Iryandi Masputra, S.H.</h6>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <p>
                                            Hidup bukan hanya soal kecerdasan. Kecerdasan menjadi tidak berarti tanpa etika yang baik serta landasan spiritual yang kuat. Di STEI Tazkia, saya terdorong untuk menjadi cerdas dan aktif dengan etika yang baik tanpa melupakan aspek spiritualitas, sehingga saya dapat meraih apa yang belum pernah teraih. I'm Proud To Be Tazkian.
                                        </p>
                                        <h6>Satrio Raharjo, S.E.I.</h6>
                                    </div>
                                </div>
                                <!-- End single item -->
                            </div>
                        </div>
                        <!-- End testimonials end -->
                    </div>
                    <!-- End Right Feature -->
                </div>
            </div>
        </div>
    </div>
    <!-- Testimoni-->
    <!-- contact spmb -->
    <div id="contact" class="contact-area">
        <div class="contact-inner area-padding">
            <div class="contact-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Contact us</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start contact icon column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-mobile"></i>
                                <p>
                                    Irma: 08159551299<br>
                                    Sadam: 085211464969<br>
                                    <span>Monday-Friday (9am-5pm)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-envelope-o"></i>
                                <p>
                                    Email: spmb@tazkia.ac.id<br>
                                    <span>Web: <a href="https://tazkia.ac.id/" target="_blank">STEI Tazkia</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <a target="_blank" href="https://www.google.com/maps/place/STEI+Tazkia/@-6.5679603,106.8466874,16z/data=!4m5!3m4!1s0x0:0xc5ab7788a51fc54b!8m2!3d-6.569154!4d106.84702">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="fa fa-map-marker"></i>
                                    <p>
                                        Location: Jl.Ir. H. Djuanda No.78 Sentul City,<br>
                                        <span>Bogor 16810 Indonesia.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact -->

    <!-- Start Footer bottom Area -->
    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <div class="footer-logo">
                                    <h2><span>STEI</span>Tazkia</h2>
                                </div>

                                <p>STEI Tazkia atau Sekolah Tinggi Ekonomi Islam Tazkia merupakan perguruan tinggi yang difokuskan untuk melahirkan lulusan yang kompeten dalam ekonomi syariah dan siap dalam mengembangkan small & micro enterprise.
                                    <a href="https://id.wikipedia.org/wiki/STEI_Tazkia" target="_blank">Wikipedia</a></p>
                                <div class="footer-icons">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/humas.steitazkia"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/steitazkia/"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://instagram.com/steitazkia/"><i class="fa fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/channel/UCgYgEX95uEHoljswnmiDvYA"><i class="fa fa fa-youtube"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>Information</h4>
                                <div class="footer-contacts">
                                    <p><span>Tel:</span> +62-21-87962291-93</p>
                                    <p><span>Fax:</span> +62-21-87962294</p>
                                    <p><span>Working Hours:</span> 8am-5pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                </div>
            </div>
        </div>
    </footer>
    <script src="//code.tidio.co/apsbehzioxqvnyenqezzxuyvbthhm2ue.js"></script>
</section>

</body>
</html>