<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{frontend}">

<body>
<link rel="icon" href="https://tazkia.ac.id/images/logo-tazkia-2.png">


<section layout:fragment="content">

    <div id="registrasi" class="about-area area-padding"><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <section class="clearfix">
                            <form>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <!-- Identitas awal-->
                                            <div class="card">
                                                <div class="header" >
                                                    <center>
                                                        <h1>
                                                            Registrasi Berhasil
                                                        </h1>
                                                        <h4>Terima Kasih</h4>
                                                        <h3>Silahkan Cek Email Anda</h3>
                                                    </center>
                                                    <br><br>
                                                    <h5>
                                                        <label style="font-size: 12px; color: #ff0000;">
                                                            *Jika tidak menerima email silahkan hubungi kontak kami!!!
                                                        </label>
                                                    </h5>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>                       </div>
                </div>
            </div>
        </div>
    </div>
    <!--end prosedur-->
</section>

</body>

</html>