<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SPMB STEI Tazkia</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet"/>
    <!-- Bootstrap CSS File -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/nivo-slider/css/nivo-slider.css}" rel="stylesheet"/>
    <link th:href="@{/lib/owlcarousel/owl.carousel.css}" rel="stylesheet"/>
    <link th:href="@{/lib/owlcarousel/owl.transitions.css}" rel="stylesheet"/>
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/lib/venobox/venobox.css}" rel="stylesheet"/>

    <!-- Nivo Slider Theme -->
    <link th:href="@{/css/index/nivo-slider-theme.css}" rel="stylesheet"/>

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/index/style.css}" rel="stylesheet"/>

    <!-- Responsive Stylesheet File -->
    <link th:href="@{/css/index/responsive.css}" rel="stylesheet"/>
    <link th:href="@{/css/select2.css}" rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- =======================================================
      Theme Name: eBusiness
      Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body data-spy="scroll" data-target="#navbar-example">

<div id="preloader"></div>

<header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">

                    <!-- Navigation -->
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Brand -->
                            <a class="navbar-brand page-scroll sticky-logo" th:href="@{/}">
                                <h1><span>STEI</span>Tazkia</h1>
                                <!-- Uncomment below if you prefer to use an image logo -->
                                <!-- <img src="img/logo.png" alt="" title=""> -->
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a class="page-scroll" th:href="@{/}">Home</a>
                                </li>
                                <li>
                                    <a class="page-scroll" th:href="@{/#prodi}">Program</a>
                                </li>
                                <li>
                                    <a class="page-scroll" th:href="@{/#prosedur}">Prosedur</a>
                                </li>
                                <li>
                                    <a class="page-scroll" th:href="@{/#periode}">Periode</a>
                                </li>
                                <li>
                                    <a class="page-scroll" th:href="@{/hasilTest}">Hasil Test</a>
                                </li>
                                <li>
                                    <a class="page-scroll" th:href="@{/registrasi/smart/list}">Smart Test</a>
                                </li>
                                <li>
                                    <a class="page-scroll" th:href="@{/#biaya}">Biaya</a>
                                </li>
                                <li>
                                    <a class="page-scroll" th:href="@{/#contact}">Contact</a>
                                </li>
                                <li>
                                    <a class="page-scroll" th:href="@{/login}">login</a>
                                </li>
                                <li style="background-color: #3ec1d5;">
                                    <a class="page-scroll" th:href="@{/registrasi/form}" href="#registrasi">Registrasi</a>
                                </li>
                            </ul>
                        </div>
                        <!-- navbar-collapse -->
                    </nav>
                    <!-- END: Navigation -->
                </div>
            </div>
        </div>
    </div>
</header>
<section>

    <div id="registrasi" class="about-area area-padding"><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <section class="clearfix">
                            <form>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <!-- Identitas awal-->
                                            <div class="card">
                                                <div class="header" >
                                                    <center>
                                                        <h1>
                                                            Registrasi Berhasil
                                                        </h1>
                                                        <h4>Terima Kasih</h4>
                                                        <h3>Silahkan Cek Email Anda</h3>
                                                    </center>
                                                    <br><br>
                                                    <h5>
                                                        <label style="font-size: 12px; color: #ff0000;">
                                                            *Jika tidak menerima email silahkan hubungi kontak kami!!!
                                                        </label>
                                                    </h5>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>                       </div>
                </div>
            </div>
        </div>
    </div>
    <!--end prosedur-->
</section>
<div class="footer-area-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="copyright text-center">
                    <p>
                        &copy; Copyright <strong>STEI Tazkia</strong>. All Rights Reserved
                    </p>
                </div>
                <div class="credits">
                    <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                    -->
                    Designed by BootstrapMade
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script th:src="@{/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/lib/venobox/venobox.min.js}"></script>
<script th:src="@{/lib/knob/jquery.knob.js}"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/parallax/parallax.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/nivo-slider/js/jquery.nivo.slider.js}" type="text/javascript"></script>
<script th:src="@{/lib/appear/jquery.appear.js}"></script>
<script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>

<script th:src="@{/js/index/main.js}"></script>

<script th:src="@{/js/select2.min.js}"></script>


<th:block layout:fragment="script">
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>
</th:block>
</html>