<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Hasil Test</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_160">
                <div class="x_title" style="color: black">
                    <h1>Data Pendaftaran Mahasiswa</h1>
                    <div class="clearfix"></div>
                </div>
                <div class="row clearfix" style="color: black">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body">
                                            <form method="get">
                                               <h4>Nama / No Registrasi / Grade: <br><input type="text" name="search" placeholder="Cari Data" th:value="${search}">
                                                <input type="submit" class="btn  btn-info btn-sm" value="Cari"></h4>
                                            </form>
                                            <form th:action="@{/registrasi/hasil/csv}" method="get">
                                                <input type="submit" class="btn btn-sm btn-warning" value="Download Data Hasil Test">
                                            </form>
                                            <br>
                                            Show <span sd:page-size-selector="javascript" ></span> entries
                                            <hr>
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped table-hover">
                                                        <thead>
                                                        <tr align="center">
                                                            <th>No</th>
                                                            <th>Nomor Registrasi</th>
                                                            <th>Nama</th>
                                                            <th>Prodi Pilihan</th>
                                                            <th>Grade</th>
                                                            <th>Periode</th>
                                                            <th>Jenis Test</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="p,row : ${daftarHasil}" >
                                                            <td th:text="${(row.index + 1) + (daftarHasil.number * daftarHasil.size)}">#</td>
                                                            <td th:text="${p.pendaftar.nomorRegistrasi}"></td>
                                                            <td th:text="${p.pendaftar.nama}"></td>
                                                            <td th:if="${p.pendaftar.programStudi != null}" th:text="${p.pendaftar.programStudi.nama}"></td>
                                                            <td th:if="${p.pendaftar.programStudi == null}"></td>
                                                            <td>
                                                                <span style="color: #4edfff; font-size: 16px;" th:if="${p.nilai}>30">Lulus(
                                                                    <span th:text="${p.grade.nama}"  style="color:black; font-size: 16px;"></span> )
                                                                </span>
                                                                    <span th:if="${p.nilai}<30">
                                                                <span th:text="${p.grade.nama}"  style="color: red; font-size: 16px;"></span>                                        </span>
                                                            </td>
                                                            <td>
                                                                <span th:each="d : ${dto}" >
                                                                    <span th:if="${d.pendaftar.id == p.pendaftar.id}" th:text="${d.periode}"></span>
                                                                </span>
                                                            </td>
                                                            <td th:text="${p.jenisTest}"></td>


                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div sd:pagination-summary="">info</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <nav class="pull-right">
                                                        <ul class="pagination" sd:pagination="full">
                                                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                        <!--//table//-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

</body>
</html>