<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Form Input Jenis Biaya</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <section class="clearfix">
        <form method="post">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                        <!-- Identitas awal-->
                        <div class="card">
                            <div class="header">
                                <h1>
                                    List Pembayaran
                                </h1>
                            </div>

                            <div class="body">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="table-responsive">
                                            <table class="table table-responsive">

                                                <div th:each="p : ${pembayaran}">
                                                    <tr>
                                                        <td width="20%">No Tagihan</td>
                                                        <td width="10px">:</td>
                                                        <td th:text="${p.tagihan.nomorTagihan}"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="20%">Cara Bayar</td>
                                                        <td width="10px">:</td>
                                                        <td th:text="${p.caraPembayaran}">Transfer</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="20%">Bank</td>
                                                        <td width="10px">:</td>
                                                        <td th:text="${p.bank.namaBank}">Mandiri1</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="20%">Nilai</td>
                                                        <td width="10px">:</td>
                                                        <td th:text="${p.nilai}">300.0001</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="20%">Bukti</td>
                                                        <td width="10px">:</td>
                                                        <td th:text="${p.buktiPembayaran}"></td>
                                                    </tr>
                                                </div>
                                            </table>
                                    </div>

                                 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

</section>

</body>
</html>