<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Pendaftaran Mahasiswa</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h3>
                                    Data Pendaftaran Mahasiswa Baru
                                </h3>
                            </div>
                            <!--Table-->
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama</th>
                                            <th>Email</th>
                                            <th>No Handphone</th>
                                            <th>Asal Sekolah</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p : ${daftarPendaftaran}">
                                            <td>#</td>
                                            <td th:text="${p. nama}">muamalah</td>
                                            <td th:text="${p. email}">10-08-2017</td>
                                            <td th:text="${p. no_hp}">10-10-2017</td>
                                            <td th:text="${p. nama_asal_sekolah}">10-10-2017</td>
                                            <td>
                                                <a href=""
                                                   class="btn btn-lg bg-blue-grey waves-effect" type="submit">Selesai</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--//table//-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>