<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <title>Form Registrasi</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap Core Css -->
    <link href="../css/bootstrap.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet" />

    <!-- Custom Css -->

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-blue">
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="">STEI Tazkia</a>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info" >
            <div class="image">
                <img src="../images/logo.png" width="100%" height="100%" style="margin-top:-15px;" align="center" alt="User" />
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="active">
                <li class="header"><h3>Kontak Kami</h3></li>

                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">home</i>
                        <span>Jl.Ir. H. Djuanda No.78 Sentul City, Bogor 16810 Indonesia</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">email</i>
                        <span>contact@tazkia.ac.id</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">phone</i>
                        <span>TEL: 021-87962293</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">chat</i>
                        <span>ANWAR: 0895320102086</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">chat</i>
                        <span>SADAM: 085211464969</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="material-icons">chat</i>
                        <span>IRMA: 08159551299</span>
                    </a>
                </li>
                </li>

            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2017 - 2022 <a href="">STEI Tazkia - Material Design</a>.
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
</section>

<section class="content">
    <section class="clearfix">
        <form th:action="@{/registrasi/formregistrasiawal}" th:object="${registrasi}" method="post">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- Identitas awal-->
                        <div class="card">
                            <div class="header">
                                <h1>
                                    Identitas Register
                                </h1>
                            </div>

                            <div class="body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Nama</label>
                                                <input type="text" name="nama" th:field="*{nama}"
                                                       class="form-control"
                                                       placeholder="Nama" required autofocus/>
                                                <td th:if="${#fields.hasErrors('nama')}" th:errors="*{nama}"></td>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>No Hp</label>
                                                <input type="number" name="no_hp" th:field="*{no_hp}"
                                                       class="form-control"
                                                       placeholder="No Telepon" autofocus/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Email</label>
                                                <input type="email" name="email" th:field="*{email}"
                                                       class="form-control"
                                                       placeholder="Email" required autofocus/>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Negara</label>
                                                 <select name="negara" class="form-control" th:field="*{negara}">
                                                     <option value="">-Pilih Negara-</option>
                                                     <option value="indonesia">Indonesia</option>
                                                     <option value="malaysia">Malaysia</option>
                                                     <option value="thailand">Thailand</option>
                                                     <option value="Mesir">Mesir</option>
                                                 </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Kota Asal Sekolah</label>
                                                <select name="kokab_sekolah" th:field="*{kota_asal_sekolah}" class="form-control" id="kokab_sekolah" required autofocus>
                                                    <option value=""></option>
                                                    <option value="1">Kab. Bogor</option>
                                                    <option value="2">Kab. Cianjur</option>
                                                    <option value="3">kota Bogor</option>
                                                    <option value="4">Semarang</option>
                                                    <option value="5">Jogyakarta</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Nama Asal Sekolah</label>
                                                <select name="asal_sekolah" th:field="*{nama_asal_sekolah}" class="form-control" id="asal_sekolah" required autofocus>
                                                <option value=""></option>
                                                <option value="1">SMAN 01 Ciawi</option>
                                                <option value="2">SMAN 7 Bogor</option>
                                                <option value="3">SMK Wiladatika</option>
                                                <option value="4">SMK Islam</option>
                                                <option value="5">SMK Cibinong</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Pemberi Rekomendasi</label>
                                                <select name="pemberi_rekomendasi" th:field="*{pemberi_rekomendasi}" class="form-control" id="pemberi_rekomendasi" required autofocus>
                                                    <option value=""></option>
                                                    <option value="agen">Agen</option>
                                                    <option value="dosen">Dosen</option>
                                                    <option value="mahasiswa">Mahasiswa</option>
                                                    <option value="medsos">Media Sosial</option>
                                                    <option value="surat_kabar">Surat Kabar</option>
                                                    <option value="staff">Staff</option>
                                                    <option value="website">Website</option>
                                                    <option value="lainnya">lainnya</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Nama Perekomendasi</label>
                                                <input type="text" name="nama_perekomendasi"  th:field="*{nama_perekomendasi}"
                                                       class="form-control"
                                                       placeholder="Nama Perekomendasi"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Program Studi Pilihan</label>
                                                <select v-on:change="onChange" id="select1" th:field="*{program_studi_pilihan}"
                                                        required name="program_studi" class="form-control" />
                                                    <option value="">-Pilih Data-</option>
                                                    <option v-for="option in options" v-bind:value="option.value">
                                                        {{ option.text }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <label>Konsentrasi</label>
                                                <select id="select2" name="konsentrasi" th:field="*{konsentrasi}" class="form-control"/>
                                                    <option value="">-Pilih Data-</option>
                                                    <option v-for="option in options" v-bind:value="option.value">
                                                        {{ option.text }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Simpan Data -->
                                    <div class="col-sm-12" align="right" >
                                        <div class="form-group">
                                            <div class="col-xs-12" >
                                                <button class="btn btn-lg bg-blue-grey waves-effect" type="submit">DAFTAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

</section>

<!-- Jquery Core Js -->
<script src="../js/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="../js/bootstrap.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="../js/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="../js/waves.js"></script>

<!-- Custom Js -->
<script src="../js/admin.js"></script>

<!-- Demo Js -->
<script src="../js/demo.js"></script>

<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script type='text/javascript'
        src="http://cdn.jsdelivr.net/select2/3.4.1/select2.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="http://cdn.jsdelivr.net/select2/3.4.1/select2.css">

</body>

<!--program studi-->
<script>
    var TypesArr = {
        akuntansi: [{ text: 'Program Kerjasama Dengan CCIT UI', value: 'program_kerjasama' },
                    { text: 'Sistem Informasi', value: 'sistem_informasi' },
                    { text: 'Pengauditan', value: 'pengauditan' }],
        managemen: [{ text: 'Keuangan Dan Perbankan Islam', value: 'keuangan_perbankan' },
                    { text: 'Pemasaran & Kewriausahaan Islam', value: 'pemasaran_islam' }],
        ekonomi:  [{ text: 'Ekonomi Pembangunan', value: 'ekonomi_pembangunan'},
                   { text: 'Keuangan Dan Moneter Islma', value: 'keuangan_islam' }]
    }


    var selectTwo = new Vue({
        el: '#select2',
        data: {
            selected: TypesArr['akuntansi'][0],
            options: TypesArr['']
        },
        methods: {
            update: function (value)
            {
                this.options = TypesArr[value]
            }
        }
    })


    new Vue({
        el: '#select1',
        data: {
            selected: 'akuntansi',
            options: [ { text: 'Akuntansi Syariah', value: 'akuntansi' },
                         { text: 'Managemen Bisnis Syariah', value: 'managemen' },
                         { text: 'Ekonomi Syariah', value: 'ekonomi' },
                         { text: 'Hukum Bisnis Syariah (Maumalah) ', value: 'muamalah' },
                         { text: 'Pendidikan Ekonomi Islam (Tadris IPS)', value: 'tadris' }
            ]
        },
        methods: {
            onChange: function (event)
            {
                selectTwo.update(event.srcElement.value)
            }
        }
    })
</script>
<!--auto pemeberi rekomendasi-->
<script type='text/javascript'>
    $(window).load(function(){<!-- w  ww.j a  v a 2 s.  c  o  m-->
        $('#pemberi_rekomendasi').select2();
    });
</script>
<!--auto kokab sekolah-->
<script type='text/javascript'>
    $(window).load(function(){<!-- w  ww.j a  v a 2 s.  c  o  m-->
        $('#kokab_sekolah').select2();
    });
</script>
<!--auto asal sekolah-->
<script type='text/javascript'>
    $(window).load(function(){<!-- w  ww.j a  v a 2 s.  c  o  m-->
        $('#asal_sekolah').select2();
    });
</script>
</html>