<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{frontend}">

<body>
<link rel="icon" href="https://tazkia.ac.id/images/logo-tazkia-2.png">


<section layout:fragment="content">

    <div id="registrasi" class="about-area area-padding"><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Form Pendaftaran</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="single-post-comments">
                        <div class="comment-respond">
                            <h3 class="comment-reply-title"></h3>

                            <form th:action="@{/registrasi/form}" th:object="${registrasi}" method="post">
                                <input type="hidden" name="id" id="id" th:field="*{id}">
                                <input type="hidden" name="nomor" id="nomor" th:field="*{nomorRegistrasi}">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <p>Name *</p>
                                        <input type="text" name="nama" th:field="*{nama}"
                                                       class="form-control"
                                                       placeholder="Nama" required autofocus/>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <p>No Hanphone *</p>
                                        <input type="number" name="no_hp" th:field="*{noHp}"
                                                       class="form-control"
                                                       placeholder="No Telepon" required autofocus/>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <p>Email *</p>
                                        <input type="email" name="email" th:field="*{email}"
                                                       class="form-control"
                                                       placeholder="Email" required autofocus/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <p>Negara *</p>
                                        <input type="text" name="negara"
                                                        placeholder="Negara"
                                                        required autofocus
                                                        class="form-control" th:field="*{negara}"/>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <p>Kota Asal Sekolah *</p>
                                        <input type="text" hidden="" name="idKabupatenKota">
                                        <input type="text" id="kokabawal" placeholder="Cari Kabupaten/Kota ..."
                                                       data-provide="typeahead"
                                                       autocomplete="off" required autofocus>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <p>Nama Asal Sekolah *</p>
                                        <input type="text" class="form-control" th:field="*{namaAsalSekolah}"
                                                       id="sekolah" placeholder="Cari Sekolah ..."
                                                       data-provide="typeahead" autocomplete="off" required autofocus>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <p>Pemberi Rekomendasi *</p>
                                         <select name="pemberi_rekomendasi" class="form-control"
                                                 th:field="*{pemberiRekomendasi}" id="pemberi_rekomendasi" required autofocus>
                                                    <option value="">-Pilih Pemberi Rekomendasi-</option>
                                                    <option value="agen">Agen</option>
                                                    <option value="dosen">Dosen</option>
                                                    <option value="mahasiswa">Mahasiswa</option>
                                                    <option value="medsos">Media Sosial</option>
                                                    <option value="surat_kabar">Surat Kabar</option>
                                                    <option value="staff">Staff</option>
                                                    <option value="website">Website</option>
                                                    <option value="lainnya">Lainnya</option>
                                                </select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <p>Nama Perekomendasi *</p>
                                        <input type="text" name="nama_perekomendasi"  th:field="*{namaPerekomendasi}"
                                                       class="form-control"
                                                       placeholder="Nama Perekomendasi"/>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <p>Program Studi Pilihan *</p>
                                         <select name="programStudi" th:field="*{programStudi}"
                                                 class="js-example-basic-single form-control" required autofocus>
                                                    <option value="">-Pilih Program Studi-</option>
                                                    <option th:each="ins : ${daftarProdi}"
                                                            th:value="${ins.id}"
                                                            th:text="${ins.nama}">Ekonomi Syariah</option>
                                         </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <p>Konsentrasi *</p>
                                        <select name="konsentrasi" th:field="*{konsentrasi}" class="form-control" required autofocus>
                                            <option value="">-Pilih Konsentrasi-</option>
                                            <option value="Reguler" >Reguler(S1 & S2)</option >
                                            <option value="Eksekutif" >Eksekutif(S2)</option >
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">
                                        <input type="submit" value="Registrasi" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end prosedur-->
</section>

</body>

</html>