<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Form Pendaftaran Mahasiswa Baru</title>
    <!-- Favicon-->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>


<body>
<br>
    <section class="clearfix">
        <form method="post" target="_blank">
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                          <!-- identitas mahasiswa -->
                            <div class="card" id="previous">
                                <div class="header">
                                    <h1>
                                        Identitas Mahasiswa
                                    </h1>
                                </div>

                                <div class="body" >
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Nama</label><input type="text" name="nama" class="form-control" placeholder="Nama" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>TTL</label><input type="text" name="ttl" class="form-control" placeholder="Tempat, Tanggal - Bulan -Tahun" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Jenis Kelamin</label>
                                                    <select name="jeniskelamin" class="form-control" id="" required autofocus>
                                                        <option value=""></option>
                                                        <option value="L">Laki-Laki</option>
                                                        <option value="P">Perempuan</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Golongan Darah</label><input type="text" name="goldar" class="form-control" placeholder="Golongan Darah" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>N0. KTP</label><input type="number" name="noKtp" class="form-control" placeholder="No. Ktp" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Alamat Rumah</label><input type="text" name="alamat" class="form-control" placeholder="Alamat Rumah" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Provinsi</label><input type="text" name="provinsi" class="form-control" placeholder="Provinsi" required autofocus/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Kab./Kota</label><input type="text" name="kota" class="form-control" placeholder="Kab./Kota" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Kode Pos</label><input type="number" name="kodepos" class="form-control" placeholder="Kode Pos" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>No Hp</label><input type="number" name="nohp" class="form-control" placeholder="No Handphone" required autofocus/>                                       </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Email</label><input type="email" name="email" class="form-control" placeholder="Email" required autofocus/>                                       </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Kota/Kab. Sekolah</label><input type="text" name="kota_sekolah" class="form-control" placeholder="Kota/Kab. Sekolah" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Asal Sekolah</label><input type="text" name="asal_sekolah" class="form-control" placeholder="Asal Sekolah" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Jurusan Sekolah</label><input type="text" name="jurusan_sekolah" class="form-control" placeholder="Jurusan Sekolah" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>NISN</label><input type="text" name="nisn" class="form-control" placeholder="NISN"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Tahun Lulus Sekolah</label><input type="number" name="tahun_lulus" class="form-control" placeholder="Tahun Lulus Sekolah"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Pekerjaan Pribadi</label><input type="text" name="pekerjaan" class="form-control" placeholder="Pekerjaan Pribadi"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Penghasilan Pribadi</label><input type="text" name="penghasilan" class="form-control" placeholder="Penghasilan Pribadi"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Status Sipil</label><br>
                                                    <select name="jeniskelamin" class="form-control" id="jk">
                                                        <option value=""></option>
                                                        <option value="wni">WNI</option>
                                                        <option value="wna">WNA</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="form-group">
                                                <a href="#next"><input type="button" name="next"
                                                                       style="margin-top: 10px;"
                                                                       class="btn btn-lg bg-light-blue waves-effect"
                                                                       value="Next"></a>
                                            </div>
                                        </div>


                                    </div>


                                </div>

                            </div>



                          <!-- Identitas Wali -->
                            <div class="card" id="next">
                                <div class="header">
                                    <h1>
                                        Identitas Orang Tua/Wali
                                    </h1>
                                </div>

                                <div class="body" >
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Nama Ayah</label><input type="text" name="nama_ayah" class="form-control" placeholder="Nama Ayah" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Agama Ayah</label><input type="text" name="agama_ayah" class="form-control" placeholder="Agama Ayah" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Pendidikan Ayah</label>
                                                    <select name="pendidikan_ayah" class="form-control" >
                                                        <option value=""></option>
                                                        <option value="sd">SD</option>
                                                        <option value="smp">SMP</option>
                                                        <option value="sma">SMA/SMK</option>
                                                        <option value="d3">D3</option>
                                                        <option value="s1">S1</option>
                                                        <option value="s2">S2</option>
                                                        <option value="s3">S3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Pekerjaan Ayah</label><input type="text" name="pekerjaan_ayah" class="form-control" placeholder="Pendidikan Ayah" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Nama Ibu</label><input type="text" name="nama_ibu" class="form-control" placeholder="Nama Ibu" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Agama Ibu</label><input type="text" name="agama_ibu" class="form-control" placeholder="Agama Ibu" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Pendidikan Ibu</label>
                                                    <select name="pendidikan_ibu" class="form-control" >
                                                        <option value=""></option>
                                                        <option value="sd">SD</option>
                                                        <option value="smp">SMP</option>
                                                        <option value="sma">SMA/SMK</option>
                                                        <option value="d3">D3</option>
                                                        <option value="s1">S1</option>
                                                        <option value="s2">S2</option>
                                                        <option value="s3">S3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Pekerjaan Ibu</label><input type="text" name="pekerjaan_ibu" class="form-control" placeholder="Pendidikan Ibu" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Alamat Orangtua</label><input type="text" name="alamat_orangtua" class="form-control" placeholder="Alamat Orangtua" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Kab./Kota Orangtua</label><input type="text" name="kota_orangtua" class="form-control" placeholder="Kota/Kab. Orangtua" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Telepon/Hp Orangtua</label><input type="number" name="hp_orangtua" class="form-control" placeholder="Kota/Kab. Orangtua" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Email Orangtua</label><input type="email" name="email_orangtua" class="form-control" placeholder="Email Orangtua" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Penghasilan Orangtua</label><input type="text" name="penghasilan_orangtua" class="form-control" placeholder="Penghasilan Orangtua" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Jumlah Tanggungan</label><input type="text" name="jumlah_tanggungan" class="form-control" placeholder="Jumlah Tanggungan" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label>Rencana Biaya</label><input type="text" name="rencana_biaya" class="form-control" placeholder="Rencana Biaya" required autofocus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <a href="#previous"><input type="button" name="previous"
                                                                       class="btn btn-lg bg-light-blue waves-effect"
                                                                       value="Previous"></a>
                                            </div>
                                        </div>
                                        <!-- Simpan Data -->
                                        <div class="col-sm-6" align="right">
                                            <div class="form-group">
                                                        <button class="btn btn-lg bg-light-green waves-effect"
                                                                 type="submit">SELESAI</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </form>

    </section>

</body>

</html>

