<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Pendaftaran Mahasiswa</title>
</head>
<body>
<section layout:fragment="content" class="clearfix">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h3>
                                    Data Pendaftaran Mahasiswa Baru
                                </h3>
                            </div>
                            <!--Table-->
                            <div class="body">
                                <form method="get">
                                    Nama Siswa : <br><input type="text" name="nama" th:value="${nama}">
                                    <input type="submit" class="btn  bg-blue-grey waves-effect" value="Cari">
                                </form>
                                <br>
                                Show <span sd:page-size-selector="javascript" ></span> entries

                                <hr>


                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama</th>
                                                <th>Email</th>
                                                <th>No Handphone</th>
                                                <th>Asal Sekolah</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="s, row : ${daftarPendaftaran}">
                                                <td th:text="${(row.index + 1) + (daftarPendaftaran.number * daftarPendaftaran.size)}">#</td>
                                                <td th:text="${s.nama}">SMK Wiladatika</td>
                                                <td th:text="${s.email}">12342341212</td>
                                                <td th:text="${s.noHp}">Jln Raya Wangun</td>
                                                <td th:text="${s.namaAsalSekolah}">0251453224</td>
                                                <td>
                                                    <a th:href="@{/registrasi/reset/form(pendaftar = ${s.id})}" target="_blank" class="btn bg-blue waves-effec">Reset Password</a>                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div sd:pagination-summary="">info</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <nav class="pull-right">
                                            <ul class="pagination" sd:pagination="full">
                                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!--//table//-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>